Des/Mejoras/ARP.Ejemplo/ARP.Ejemplo.Integracion/Service References/SeguridadUsuariosSvc/SeguridadUsuarios1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.ARP.AdminSeguridad.com/2011/05/Datos/" elementFormDefault="qualified" targetNamespace="http://schemas.ARP.AdminSeguridad.com/2011/05/Datos/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://boa02inte137.fs.net:8211/ARP.AdminSeguridad.ServiciosPublicos/SeguridadUsuarios.svc?xsd=xsd4" namespace="http://schemas.ARP.AdminSeguridad.com/2011/05/Enumeraciones/" />
  <xs:complexType name="CambioContrasena">
    <xs:sequence>
      <xs:element name="CambioDePreguntaRespuestaSecreta" type="xs:boolean" />
      <xs:element name="ContrasenaAnterior" nillable="true" type="xs:string" />
      <xs:element name="ContrasenaNueva" nillable="true" type="xs:string" />
      <xs:element name="IdUsuario" type="xs:int" />
      <xs:element name="LoginUsuario" nillable="true" type="xs:string" />
      <xs:element name="PreguntaSecreta" nillable="true" type="xs:string" />
      <xs:element name="RespuestaSecreta" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CambioContrasena" nillable="true" type="tns:CambioContrasena" />
  <xs:complexType name="Usuario">
    <xs:sequence>
      <xs:element name="Activo" type="xs:boolean" />
      <xs:element name="Bloqueado" type="xs:boolean" />
      <xs:element minOccurs="0" name="Cargo" nillable="true" type="xs:string" />
      <xs:element name="Contrasena" nillable="true" type="xs:string" />
      <xs:element name="ContrasenaCaduca" type="xs:boolean" />
      <xs:element name="ContrasenaCaducidadDias" type="xs:int" />
      <xs:element name="ContrasenaDebeContenerCharsEspeciales" type="xs:boolean" />
      <xs:element name="ContrasenaDebeContenerMayusculas" type="xs:boolean" />
      <xs:element name="ContrasenaDebeContenerMinusculas" type="xs:boolean" />
      <xs:element name="ContrasenaDebeContenerNumeros" type="xs:boolean" />
      <xs:element name="Email" nillable="true" type="xs:string" />
      <xs:element name="FechaCreacion" type="xs:dateTime" />
      <xs:element name="FechaCreacionContrasena" type="xs:dateTime" />
      <xs:element name="Id" type="xs:int" />
      <xs:element name="IntentosConsecutivos" type="xs:int" />
      <xs:element name="LoginUsuario" nillable="true" type="xs:string" />
      <xs:element name="LongitudMinimaContrasena" type="xs:int" />
      <xs:element name="NombreCompleto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroIdentificacion" nillable="true" type="xs:string" />
      <xs:element name="ObligarCambioContrasena" nillable="true" type="xs:boolean" />
      <xs:element name="PreguntaSecreta" nillable="true" type="xs:string" />
      <xs:element name="PrimerApellido" nillable="true" type="xs:string" />
      <xs:element name="PrimerNombre" nillable="true" type="xs:string" />
      <xs:element name="RegistroConfirmado" type="xs:boolean" />
      <xs:element name="RespuestaSecreta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SegundoApellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SegundoNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoIdentificacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UrlCambioContrasena" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Usuario" nillable="true" type="tns:Usuario" />
  <xs:complexType name="ResultadoOperacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoObtenido" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.ARP.AdminSeguridad.com/2011/05/Enumeraciones/" name="CodigoResultado" type="q1:CODIGO_RESULTADO" />
      <xs:element minOccurs="0" name="DetalleResultado" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultadoOperacion" nillable="true" type="tns:ResultadoOperacion" />
  <xs:complexType name="Url">
    <xs:sequence>
      <xs:element name="UrlCambioContrasena" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Url" nillable="true" type="tns:Url" />
  <xs:complexType name="ConfirmarRegistroUsuario">
    <xs:sequence>
      <xs:element name="IdUsuario" type="xs:int" />
      <xs:element name="Ticket" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConfirmarRegistroUsuario" nillable="true" type="tns:ConfirmarRegistroUsuario" />
</xs:schema>