Main/Source/ARP.Ejemplo/ARP.Ejemplo.WebExterno/Service References/SeguridadSvc/Seguridad2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.ARP.Ejemplo.com/2011/02/Entidades/" elementFormDefault="qualified" targetNamespace="http://schemas.ARP.Ejemplo.com/2011/02/Entidades/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8215/ARP.Ejemplo.Servicios/Seguridad.svc?xsd=xsd3" namespace="http://schemas.ARP.Ejemplo.com/2010/10/Enumeraciones/" />
  <xs:complexType name="Autenticacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Contrasena" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EsDominio" type="xs:boolean" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Autenticacion" nillable="true" type="tns:Autenticacion" />
  <xs:complexType name="ResultadoAutenticacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="RespuestaOperacion" nillable="true" type="tns:Respuesta" />
      <xs:element minOccurs="0" name="UrlCambioContrasena" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="tns:UsuarioExterno" />
      <xs:element minOccurs="0" name="UsuarioActivo" type="xs:boolean" />
      <xs:element minOccurs="0" name="UsuarioAutenticado" type="xs:boolean" />
      <xs:element minOccurs="0" name="UsuarioBloqueado" type="xs:boolean" />
      <xs:element minOccurs="0" name="UsuarioConfirmoRegistro" type="xs:boolean" />
      <xs:element minOccurs="0" name="UsuarioContrasenaCaduca" type="xs:boolean" />
      <xs:element minOccurs="0" name="UsuarioObligarCambioContrasena" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultadoAutenticacion" nillable="true" type="tns:ResultadoAutenticacion" />
  <xs:complexType name="Respuesta">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoObtenido" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.ARP.Ejemplo.com/2010/10/Enumeraciones/" name="CodigoResultado" type="q1:CODIGO_RESULTADO" />
      <xs:element minOccurs="0" name="DetalleResultado" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Respuesta" nillable="true" type="tns:Respuesta" />
  <xs:complexType name="UsuarioExterno">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cargo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="NombreCompleto" nillable="true" type="xs:string" />
      <xs:element name="PrimerApellido" nillable="true" type="xs:string" />
      <xs:element name="PrimerNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SegundoApellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SegundoNombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UsuarioExterno" nillable="true" type="tns:UsuarioExterno" />
  <xs:complexType name="ContrasenaCambio">
    <xs:sequence>
      <xs:element name="ContrasenaAnterior" nillable="true" type="xs:string" />
      <xs:element name="ContrasenaNueva" nillable="true" type="xs:string" />
      <xs:element name="IdUsuario" type="xs:int" />
      <xs:element name="LoginUsuario" nillable="true" type="xs:string" />
      <xs:element name="PreguntaSecreta" nillable="true" type="xs:string" />
      <xs:element name="RespuestaSecreta" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.ARP.Ejemplo.com/2010/10/Enumeraciones/" name="TipoUsuario" type="q2:TIPO_USUARIO" />
      <xs:element name="UrlObtenida" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContrasenaCambio" nillable="true" type="tns:ContrasenaCambio" />
</xs:schema>