Main/Source/ARP.Ejemplo/ARP.Ejemplo.Integracion/Service References/SeguridadAutenticacionSvc/SeguridadAutenticacion1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.ARP.AdminSeguridad.com/2011/05/Datos/" elementFormDefault="qualified" targetNamespace="http://schemas.ARP.AdminSeguridad.com/2011/05/Datos/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://boa02inte137.fs.net:8211/ARP.AdminSeguridad.ServiciosPublicos/SeguridadAutenticacion.svc?xsd=xsd3" namespace="http://schemas.ARP.AdminSeguridad.com/2010/08/Servicios/" />
  <xs:complexType name="DatosIniciales">
    <xs:sequence>
      <xs:element name="Contrasena" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.ARP.AdminSeguridad.com/2010/08/Servicios/" name="TipoRed" type="q1:TIPO_RED" />
      <xs:element name="UsuarioLogin" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DatosIniciales" nillable="true" type="tns:DatosIniciales" />
  <xs:complexType name="Resultado">
    <xs:sequence>
      <xs:element name="Autenticado" type="xs:boolean" />
      <xs:element xmlns:q2="http://schemas.ARP.AdminSeguridad.com/2010/08/Servicios/" name="CodigoResultado" type="q2:CODIGO_RESULTADO_TRANSACCION" />
      <xs:element name="MensajeRespuesta" nillable="true" type="xs:string" />
      <xs:element name="Usuario" nillable="true" type="tns:Usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Resultado" nillable="true" type="tns:Resultado" />
  <xs:complexType name="Usuario">
    <xs:sequence>
      <xs:element name="Activo" type="xs:boolean" />
      <xs:element name="Bloqueado" type="xs:boolean" />
      <xs:element minOccurs="0" name="Cargo" nillable="true" type="xs:string" />
      <xs:element name="Contrasena" nillable="true" type="xs:string" />
      <xs:element name="ContrasenaCaduca" type="xs:boolean" />
      <xs:element name="ContrasenaCaducidadDias" type="xs:int" />
      <xs:element name="ContrasenaDebeContenerCharsEspeciales" type="xs:boolean" />
      <xs:element name="ContrasenaDebeContenerMayusculas" type="xs:boolean" />
      <xs:element name="ContrasenaDebeContenerMinusculas" type="xs:boolean" />
      <xs:element name="ContrasenaDebeContenerNumeros" type="xs:boolean" />
      <xs:element name="Email" nillable="true" type="xs:string" />
      <xs:element name="FechaCreacion" type="xs:dateTime" />
      <xs:element name="FechaCreacionContrasena" type="xs:dateTime" />
      <xs:element name="Id" type="xs:int" />
      <xs:element name="IntentosConsecutivos" type="xs:int" />
      <xs:element name="LoginUsuario" nillable="true" type="xs:string" />
      <xs:element name="LongitudMinimaContrasena" type="xs:int" />
      <xs:element name="NombreCompleto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroIdentificacion" nillable="true" type="xs:string" />
      <xs:element name="ObligarCambioContrasena" nillable="true" type="xs:boolean" />
      <xs:element name="PreguntaSecreta" nillable="true" type="xs:string" />
      <xs:element name="PrimerApellido" nillable="true" type="xs:string" />
      <xs:element name="PrimerNombre" nillable="true" type="xs:string" />
      <xs:element name="RegistroConfirmado" type="xs:boolean" />
      <xs:element name="RespuestaSecreta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SegundoApellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SegundoNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoIdentificacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UrlCambioContrasena" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Usuario" nillable="true" type="tns:Usuario" />
</xs:schema>