Main/Source/ARP.Ejemplo/ARP.Ejemplo.Integracion/Service References/SeguridadAutenticacionSvc/SeguridadAutenticacion1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://schemas.ARP.AdminSeguridad.com/2011/05/AutenticacionSeguridad/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://schemas.ARP.AdminSeguridad.com/2011/05/AutenticacionSeguridad/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://schemas.ARP.AdminSeguridad.com/2011/05/AutenticacionSeguridad/Imports">
      <xsd:import schemaLocation="http://boa02inte137.fs.net:8211/ARP.AdminSeguridad.ServiciosPublicos/SeguridadAutenticacion.svc?xsd=xsd0" namespace="http://schemas.ARP.AdminSeguridad.com/2011/05/AutenticacionSeguridad/" />
      <xsd:import schemaLocation="http://boa02inte137.fs.net:8211/ARP.AdminSeguridad.ServiciosPublicos/SeguridadAutenticacion.svc?xsd=xsd4" namespace="http://schemas.ARP.AdminSeguridad.com/2011/05/Faults/" />
      <xsd:import schemaLocation="http://boa02inte137.fs.net:8211/ARP.AdminSeguridad.ServiciosPublicos/SeguridadAutenticacion.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://boa02inte137.fs.net:8211/ARP.AdminSeguridad.ServiciosPublicos/SeguridadAutenticacion.svc?xsd=xsd2" namespace="http://schemas.ARP.AdminSeguridad.com/2011/05/Datos/" />
      <xsd:import schemaLocation="http://boa02inte137.fs.net:8211/ARP.AdminSeguridad.ServiciosPublicos/SeguridadAutenticacion.svc?xsd=xsd3" namespace="http://schemas.ARP.AdminSeguridad.com/2010/08/Servicios/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="SeguridadAutenticacion_AutenticarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:AutenticarUsuario" />
  </wsdl:message>
  <wsdl:message name="SeguridadAutenticacion_AutenticarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:AutenticarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="SeguridadAutenticacion_AutenticarUsuario_AplicacionFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.ARP.AdminSeguridad.com/2011/05/Faults/" name="detail" element="q1:AplicacionFault" />
  </wsdl:message>
  <wsdl:message name="SeguridadAutenticacion_AutenticarUsuario_DatosFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.ARP.AdminSeguridad.com/2011/05/Faults/" name="detail" element="q2:DatosFault" />
  </wsdl:message>
  <wsdl:message name="SeguridadAutenticacion_AutenticarUsuario_NegocioFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.ARP.AdminSeguridad.com/2011/05/Faults/" name="detail" element="q3:NegocioFault" />
  </wsdl:message>
  <wsdl:portType name="SeguridadAutenticacion">
    <wsdl:operation name="AutenticarUsuario">
      <wsdl:input wsaw:Action="http://schemas.ARP.AdminSeguridad.com/2011/05/AutenticacionSeguridad/SeguridadAutenticacion/AutenticarUsuario" message="tns:SeguridadAutenticacion_AutenticarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://schemas.ARP.AdminSeguridad.com/2011/05/AutenticacionSeguridad/SeguridadAutenticacion/AutenticarUsuarioResponse" message="tns:SeguridadAutenticacion_AutenticarUsuario_OutputMessage" />
      <wsdl:fault wsaw:Action="http://ARP.AdminSeguridad.com/2011/05/AplicacionFault" name="AplicacionFaultFault" message="tns:SeguridadAutenticacion_AutenticarUsuario_AplicacionFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://ARP.AdminSeguridad.com/2011/05/DatosFault" name="DatosFaultFault" message="tns:SeguridadAutenticacion_AutenticarUsuario_DatosFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://ARP.AdminSeguridad.com/2011/05/NegocioFault" name="NegocioFaultFault" message="tns:SeguridadAutenticacion_AutenticarUsuario_NegocioFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>